{% load i18n %}
{% load i18ntags %}
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'> 
<html lang='en'>
	<head>
  <title>{% block title %}{% endblock %}</title>
  <link type='text/css' rel='stylesheet' media='screen' href='/static/charts/stylesheets/screen.css' />
  <link type='text/css' rel='stylesheet' media='screen' href='/static/charts/stylesheets/mapdark.css' />
  {% block headhtml %}{% endblock %}
	</head>
<body>
  <div id='header'>
    {% block header %}{% endblock %}
  </div>
  <div id='left'>
    {% block left %}{% endblock %}
  </div>
  <div class='canvas'>
    {% block content %}{% endblock %}
  </div>
  <div id='footer'>
  	<form action="/i18n/setlang/" method="post" style="float:left">
  		<select name="language">
  			{% get_languages %}
  		</select>
		<input type="submit" class="small" value="Submit"/>
  	<form>
    {% block footer %}
	{% endblock %}
  </div>
</body>
</html>
