<div id="voteBreakdown" class="voteBreakdown">
  <div id="voteDescription" class="voteDescription">
    <label>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
  </div>
  <div id="voteBar" class="voteBar">
    <img id="chartImg" src="/static/charts/img/chart.jpg"/>    
  </div>
</div>

<div id="tabularResults" class="tabularResults">
  <table id="results" class="results">
    <th>
      <td id="results_optionText" class="results_optionText"> </td>
      <td id="results_total" class="results_total"></td>
      <td id="results_boys" class="results_cell"></td>
      <td id="results_girls" class="results_cell"></td>
      <td id="results_6to10" class="results_cell"></td>
      <td id="results_11to14" class="results_cell"></td>
      <td id="results_15to18" class="results_cell"></td>
   </th>
  </table>
</div>
