<script src="/static/webapp/javascripts/jquery-1.3.2.min.js"></script>
<script src="/static/charts/javascripts/raphael-min.js"></script>
<script src="/static/charts/javascripts/graphs.js"></script>

<script type="text/javascript">
    var data = {{ chart_data }}
    var country_data = {{ national_data }}
</script>


<div id="voteBreakdown" class="voteBreakdown">
  <div id="voteDescription" class="voteDescription">
    <label>Dummy text that is not Lorem Ipsum.</label>
  </div>
  <div id="vote">
      <label>Top responses for {{ region }}</label>
      <br/>
      <label class="topResponse">{{ top_response }} {{ percentage }}%</label>
  </div>
  <div id="voteBar" class="voteBar">
  </div>
  <div>
      <label class="national">National Results</label>
  </div>
</div>

<div id="tabularResults" class="tabularResults">
  <table id="results" class="results">
    <th>
      <td id="results_optionText" class="results_optionText"> </td>
      <td id="results_total" class="results_total"></td>
      <td id="results_boys" class="results_cell"></td>
      <td id="results_girls" class="results_cell"></td>
      <td id="results_6to10" class="results_cell"></td>
      <td id="results_11to14" class="results_cell"></td>
      <td id="results_15to18" class="results_cell"></td>
   </th>
  </table>
</div>
