{% extends 'iraq.html' %}
{% load i18n %}

{% block javascripts %}
<script src="/static/charts/javascripts/jquery-1.3.2.min.js"></script>
<script src="/static/charts/javascripts/language_switcher.js"></script>
<script src="/static/charts/javascripts/homepage.js"></script>
{% endblock %}

{% block content %}
<div id="intro">
    <p class="intro_text">UNICEF surveyed about 1000 children in Iraq to find out how they felt about <strong>their country today</strong> and <strong>its future tomorrow</strong>. Explore the data & results for each question below.-</p>
    <p class="intro_link"><a href="">About the poll</a></p>
  </div>
 <div id="main_content">
    <div id="poll_questions">
      <p class="poll_title">Click on a question to see the poll results </p>
      <ul>
				{% for ques in questions %}
        <li> <a href="/charts/question{{ques.id}}"> <img src="/static/charts/img/no-image.png" alt="" />
            <p>{% trans ques.text %}</p> </a>
        </li>
				{% endfor %}
        <!--<li> <a href="#"> <img src="img/no-image.png" alt="" />
            <p>Compared to my parents, my life will be...</p> </a>
        </li>-->
        <li class="last"> <a href="/messages"> <img src="/static/charts/img/no-image.png" alt="" />
            <p>Take me to voice message page...</p> </a>
        </li>
      </ul>
    </div>
    
  </div>
{% endblock %}
