{% extends 'iraq.html' %}

{% block content %}
<div id="intro">
    <p class="intro_text">UNICEF surveyed about 1000 children in Iraq to find out how they felt about <strong>their country today</strong> and <strong>its future tomorrow</strong>. Explore the data & results for each question below.-</p>
    <p class="intro_link"><a href="">About the poll</a></p>
  </div>
 <div id="main_content">
    <div id="poll_questions">
      <p class="poll_title">Click on a question to see the poll results </p>
      <ul>
        <li> <a href="#"> <img src="/static/charts/img/no-image.png" alt="" />
            <p>I feel happy...</p> </a>
        </li>
        <li> <a href="#"> <img src="/static/charts/img/no-image.png" alt="" />
            <p>The three things I need most are...</p> </a>
        </li>
        <li> <a href="#"> <img src="/static/charts/img/no-image.png" alt="" />
            <p>Compared to my parents, my life in the future will be...</p> </a>
        </li>
        <!--<li> <a href="#"> <img src="img/no-image.png" alt="" />
            <p>Compared to my parents, my life will be...</p> </a>
        </li>-->
        <li class="last"> <a href="#"> <img src="/static/charts/img/no-image.png" alt="" />
            <p>Take me to voice message page...</p> </a>
        </li>
      </ul>
    </div>
    
  </div>
{% endblock %}
