{% extends 'layout.html' %}
{% load i18n %}
{% load i18ntags %}
{% load region-tags %}
{% load webapp-tags %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/charts/stylesheets/reset.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/static/charts/stylesheets/main.css" type="text/css" media="screen, projection">
<!--[if IE 6]><link rel="stylesheet" href="/static/charts/stylesheets/ie6.css" type="text/css" media="screen, projection"><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="/static/charts/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
{% ifequal LANGUAGE_CODE "ar"%}
<link rel="stylesheet" href="/static/charts/stylesheets/arabic.css" type="text/css" media="screen, projection">
<!--[if IE 6]><link rel="stylesheet" href="/static/charts/stylesheets/ie6-arabic.css" type="text/css" media="screen, projection"><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="/static/charts/stylesheets/ie-arabic.css" type="text/css" media="screen, projection"><![endif]-->
<!-- End: If ARABIC -->
{% endifequal %}
<link rel="stylesheet" href="/static/charts/stylesheets/print.css" type="text/css" media="print">
<!--[if IE 6]><link rel="stylesheet" href="/static/charts/stylesheets/ie6.css" type="text/css" media="screen, projection"><![endif]-->
<!--[if lt IE 8]><link rel="stylesheet" href="/static/charts/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="/static/charts/stylesheets/ui-lightness/jquery-ui-1.8.custom.css" type="text/css" media="screen, projection">
{% block page_stylesheets %}{% endblock %}
{% endblock %}

{% block title %}UNICEF{% endblock %}

{% block header %}
<div id='header'>
    <div id="language_menu">
        <ul>
            <li class="en"><a href="javascript:switch_to_language('en')" {% ifequal LANGUAGE_CODE "en"  %} class="current_language" {% endifequal %}>English</a></li>
            <li class="arabic"><a href="javascript:switch_to_language('ar')" {% ifequal LANGUAGE_CODE "ar"  %} class="current_language" {% endifequal %} >Arabic</a></li>
        </ul>
    </div>
    <div id="site_header">
        <h1>{% trans 'AN IRAQ FIT FOR CHILDREN' %}</h1>

        <div id="top_menu">
            <ul>
                <li class="home first"><a href="/charts"><span>{% trans 'Home' %}</span></a></li>
                <li class="about"><a href="/about/unicef"><span>{% trans 'About' %}</span></a></li>
                <li class="poll last"><a href="/charts/question1"><span>{% trans 'Poll' %}</span></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id='main_content' class="clearfix">
    <div id="main" class="clearfix">

        {% block breadcrumb %}
        <div id="breadcrumb_container" class="clearfix">
            <ul class="breadcrumbs">
              <li {% if governorate %} {% else %}class="active" {% endif %}> {% if governorate %} <a href="/charts/question{{ question.id }}">{% trans "Iraq" %}</a>  {% else %}  {% trans "Iraq" %} {% endif %}</li>
								{% if governorate %}
                <li class="active">{% trans region  %}</li>
								{% endif %}
            </ul>
            <ul class="secondary_links">
                <li class="download"><a href="#">{% trans 'Download' %}</a></li>
                <li class="print"><a href="#">{% trans 'Print' %}</a></li>
            </ul>
        </div>
        {% endblock %}

        <div id="content_area">
        	{% block messages %}{% endblock %}
            
                {% block question %}
                <div class="question_section">
                <div class="question">
                    <h2>What makes you most happy?</h2>
                    <ol>
                        <li>Lorem Ipsum</li>
                        <li>Dolar Lorem ipsum</li>
                        <li>dolor sit amet</li>
                        <li>consetetur sadipscing elitr</li>
                        <li>sed diam nonumy eirmod</li>
                        <li>tempor invidunt ut labore et</li>
                    </ol>
                </div>
                <p class="total_responses"> 215 responses <br/>
                    from Baghdad	</p>
                </p>
                </div>
                {% endblock %}
            
            {% block filter_container %}
            <div id="filter_container">
                <div class="filter_section">
                    <form>
                        <fieldset>
                            <legend><span>{% trans 'Filter map by' %}</span></legend>
                            <div class="field_container">
                              <p class="gender">
																<label class="lbl_boys">Boys</label>
																<label class="lbl_all">All</label>
																<label class="lbl_girls">Girls</label>
															</p>
															<div id="gender_slider">
															</div>
                            </div>                          
                            <div class="field_container">
															<p class="age">
																<label class="lbl_5">5</label>
																<label class="lbl_12">12</label>
																<label class="lbl_18">18</label>
															</p>
															<div id="age_slider">
															</div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                {% block filter_legend %}{% endblock %}
            </div>
            {% endblock %}
            
                {% block map_container %}
                <div id="map_container" class="clearfix">
                <img src="/static/charts/img/assets/map.jpg"/>
                </div>
                {% endblock %}
            
            {% block charts_container %}
            <div id="chart_container" class="clearfix">
                <div class="response_category">
                    <div class="response_category_header">
                        <h4>{% trans 'Response categories' %}</h4>

                        <p>{% trans 'What do these mean?' %}</p>
                    </div>
					{% if categories %}
                    <ul>
						{% for cat in categories %}
                        	<li class="category{{ forloop.counter0 }}"><span>{% trans cat.name %}</span></li>
						{% endfor %}
                    </ul>
					{% endif %}
                </div>
                <div class="chart_results">
                    <div class="chart_desc">
                        <p> Lorem Ipsum Dolar Lorem ipsum dolor sit amet, consetetur

                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et

                            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam

                            et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata

                            sanctus est Lorem ipsum dolor sit amet. </p>
                    </div>
                    <div class="chart_details">
                        {% block chart %}
                        <div class="chart_bar">
                            <h3><span class="response_criteria">Top Response for Bhagdad</span> <span
                                    class="top_concern">Security 65%</span></h3>

                            <div id="chart">
                                <img src="/static/charts/img/assets/chart_bar.jpg"/>
                            </div>
                            <p class="chart_note"> National results</p>
                        </div>
                        {% endblock %}

                    </div>
                </div>
            </div>
            {% endblock %}
        </div>

    </div>


	
	{% block sidebar %}
	<div id="sidebar">
	    <div class="nav_questions"><img src="/static/charts/img/poll_q_img_1.gif" alt=""/>
	        <ul class="side_nav">
	      {% for q in questions %}
	      <li 
		  {% ifequal q.id question.id %}
		  class = "active"
		  {% endifequal %}
		  <a href="/charts/question{{q.id}}{% if governorate %}/governorate{{governorate.id}}{% endif %}">
		  	{% trans q.text %}
		  </a>
	<ol>
	    {% for choice in choices %}
	   <li>
				 <span class="li_char">
	     {% for char in character_english %}
		 	{% ifequal forloop.counter  forloop.parentloop.counter %}
			 {% trans char %}  &nbsp;.&nbsp;
			{% endifequal %}
		 {% endfor %}
			 </span>
       <span class="choice_text" style="color: {{choice.color.code}};">{% trans choice.text %}<em> ({% blocktrans count choice.votes as counter %}{{counter}} vote{% plural %}{{counter}} votes{% endblocktrans %})</em></span></li>
 
        {% endfor %}
    </ol>
</li>
	      {% endfor %}
            </ul>
<div class="note">
        <ul>
          <li><a href="/messages"> {% trans 'Take me to voice message page' %}</a></li>
          <li class="last"><a href="/about">{% trans 'Read about how UNICEF used SMS to conduct the survey' %}</a> </li>
        </ul>
      </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block footer %}
<div id='footer'>
   
    <div id="sub_sections">
        <div class="column  first">
            <h3>Legal</h3>

            <p> copyright + Legal </p>
        </div>
        <div class="column  ">
            <h3>{% trans 'Poll Questions' %}</h3>
            <ul>
							{% for ques in questions %}
                <li><a href="/charts/question{{ques.id}}"> {% trans ques.text %}</a></li>
								{% endfor %}
            </ul>
        </div>
        <div class="column  last">
            <h3>{% trans 'Sections' %}</h3>
            <ul>
                <li><a href="/charts">{% trans 'Home' %}</a></li>
                <li><a href="/about/unicef">{% trans 'About' %}</a></li>
                <li><a href="/charts/question1">{% trans 'Poll' %}</a></li>
            </ul>
        </div>
    </div>
    <div class="unicef_logo">
        <a href="http://www.unicef.org/" target="_blank" title="UNICEF - United for children"><img
                src="/static/charts/img/unicef_footer_logo.gif" alt="UNICEF"/></a>
    </div>
</div>
{% endblock %}
