<div id="interface" class="jp-interface">
  <ul id="controls" class="jp-controls">
    <li id="jplayer_play" class="jp-play">play</li>
    <li id="jplayer_pause" class="jp-pause">pause</li>
    <li id="jplayer_stop" class="jp-stop">stop</li>
    <li id="jplayer_volume_min" class="jp-volume-min">min volume</li>

    <li id="jplayer_volume_max" class="jp-volume-max">max volume</li>
  </ul>
  <div id="progress" class="jp-progress">
    <div id="jplayer_load_bar" class="jp-load-bar">
      <div id="jplayer_play_bar" class="jp-play-bar"></div>
    </div>
  </div>
  <div id="jplayer_volume_bar" class="jp-volume-bar">

    <div id="jplayer_volume_bar_value" class="jp-volume-bar-value"></div>
  </div>
  <div id="jplayer_play_time" class="jp-play-time"></div>
  <div id="jplayer_total_time" class="jp-total-time"></div>
</div>
