{% load i18n %}
{% load i18ntags %}
{% load region-tags %}
{% load webapp-tags %}
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/loose.dtd'> 
<html lang='en'>
	<head>
	  <title>{% block title %}{% endblock %}</title>
	  <link type='text/css' rel='stylesheet' media='screen'
		href='/static/charts/stylesheets/base.css' />
	  <link type='text/css' rel='stylesheet' media='screen' href='/static/charts/stylesheets/mapdark.css' />
	  <script src="/static/charts/javascripts/jquery-1.3.2.min.js"></script>
	  {% block javascripts %}
	  <script src="http://www.openlayers.org/dev/OpenLayers.js"></script>
	  <script src="http://js.mapbox.com/ol/2.8/mapbox.js"></script>
	  <script src="/static/charts/javascripts/openlayers_plus_blockswitcher.js"></script>
	  {% endblock %}
	  
	  {% block headhtml %}{% endblock %}
	 </head>
<body>
  <div id='header'>
    {% block header %}
    {% endblock %}
  </div>
  <div id='left'>
    {% block left %}
    <div>
      {% trans "All Reports:" %} <a class='badge' href="/get_kml/">KML</a>
    </div>
    
    <div>
      {% trans "Welcome to the Iraq Children Happiness Website." %}<br>{% trans "The map shows the poll responses recieved from" %}
      <br>{% trans "the various governorates in Iraq." %}
    </div>

    {% endblock %}
  </div>
  <div id='map'>
     
    {% block content %}
    {% endblock %}
  </div>
  <div id='right'>
    {% block right %} 
    {% endblock %}
  </div> 
  <div id='footer'>
    {% get_languages %}
    {% block footer %}
    {% endblock %}
   
  </div>
</body>
<script type="application/javascript">
	function test(lang){
		$.post("/i18n/setlang/", {language : lang});
		location.reload();
	}
</script>
</html>
