{% extends 'results.html' %}
{% load i18n %}

{% block javascripts %}
<script src="/static/charts/javascripts/OpenLayers-2.8/OpenLayers.js"></script>
<script src="/static/charts/javascripts/raphael-min.js"></script>
<script src="/static/charts/javascripts/graphs.js"></script>
<script src="/static/charts/javascripts/map.js" ></script>
<script src="/static/charts/javascripts/map_results.js" ></script>
<script src="/static/charts/javascripts/map_mdg.js" ></script>
<script src="/static/charts/javascripts/language_switcher.js"></script>
{% endblock %}
