{% extends 'iraq.html' %}
{% load i18n %}

{% block page_stylesheets %}
<link rel="stylesheet" href="/static/charts/stylesheets/messages.css" type="text/css" media="screen, projection">
<!--[if lt IE 8]><link rel="stylesheet" href="/static/charts/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
{% endblock %}

{% block javascripts %}
<script src="/static/charts/javascripts/jquery.jplayer.min.js"></script>
<script src="/static/charts/javascripts/messages.js"></script>
<script src="/static/charts/javascripts/language_switcher.js"></script>
{% endblock %}

{% block title_suffix %}Voice Messages{% endblock %}

{% block chart %}{% endblock %}
{% block charts_container %}{% endblock %}
{% block map_container %}{% endblock %}
{% block question %}{% endblock %}

{% block messages %}
    {% if messages %}
    <div id="content_area">
    <div id="message_container">
        <ul>
            {% for message in messages %}
            <li>
                <div class="child_details"><img src="/static/charts/img/{{ message.get_child_image }}.gif"
                                                alt="boy"/>

                    <p><span class="name">{{ message.name }}</span></p>

                    <p><span class="age">Age {{message.age}}</span> / <span class="region">{{message.district.name}}</span>
                    </p>
                </div>
                <div class="message_details">
                    <div class="message">
                        <p>{{ message.english_text }}</p>
                        <div id = "jquery_jplayer{{message.id}}" class = "audio">                            
						</div>
						<div id = "player{{message.id}}" class="jp-single-player">
  								{% include "jplayer.html" %}
  								</div>
  							</div>
				</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
	{% else %}
		<!-- TODO: add better styling here -->
		<h1>No messages to display.</h1>
 	{% endif %}
{% endblock %}
