{% extends 'iraq.html' %}
{% load i18n %}
{% load audiotags %}

{% block page_stylesheets %}
<link rel="stylesheet" href="/static/charts/stylesheets/messages.css" type="text/css" media="screen, projection">
  <!--[if lt IE 8]><link rel="stylesheet" href="/static/charts/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
  {% endblock %}

  {% block javascripts %}
  <script src="/static/charts/javascripts/jquery.jplayer.min.js"></script>
  <script src="/static/charts/javascripts/messages.js"></script>
  <script src="/static/charts/javascripts/language_switcher.js"></script>
  {% endblock %}

  {% block title_suffix %}Voice Messages{% endblock %}

  {% block chart %}{% endblock %}
  {% block charts_container %}{% endblock %}
  {% block map_container %}{% endblock %}
  {% block breadcrumb %}{% endblock %}
  {% block question %}{% endblock %}
  {% block filter_container %}{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="nav_questions"><img src="/static/charts/img/poll_q_img_1.gif" alt=""/>
        <div class="note">
            <ul>
                <li><a href="/charts/question1/"> {% trans 'Take me to the poll page' %}</a></li>
                <li class="last"><a href="/about">{% trans 'Read about how UNICEF used SMS to conduct the survey' %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block messages %}
  <div id="content_area">
    <div id="message_container">
      {% if messages %}
      <ul>
	{% for message in messages %}
	<li>
	  <div class="child_details"><img src="/static/charts/img/{{ message.get_child_image }}.gif"
	  alt="child"/>
	  <p><span class="age">{% trans 'Age' %} {{message.age}}</span> / <span class="region">{% trans message.district.name %}</span>
	  </p>
	  </div>
	  <div class="message_details">
	    <div class="message">
	      <p>
		{% ifequal LANGUAGE_CODE "en"  %}
		{{ message.english_text|default:"" }}
		{% else %}
		{{ message.arabic_text|default:"" }}
		{% endifequal %}
	      </p>
	      {% jplayer forloop.counter message.sound_file_url %}
	    </div>
	  </div>
	</li>
	{% endfor %}
      </ul>
      {% else %}
      <!-- TODO: add better styling here -->
      <h1>{% trans 'No messages to display' %}.</h1>
      {% endif %}
    </div>
  </div>
  {% endblock %}
