{% extends 'iraq.html' %}
{% load i18n %}
{% load audiotags %}

{% block page_stylesheets %}
<link rel="stylesheet" href="/static/charts/stylesheets/messages.css" type="text/css" media="screen, projection">
<!--[if lt IE 8]><link rel="stylesheet" href="/static/charts/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
{% endblock %}

{% block javascripts %}
<script src="/static/charts/javascripts/jquery.jplayer.min.js"></script>
<script src="/static/charts/javascripts/messages.js"></script>
<script src="/static/charts/javascripts/language_switcher.js"></script>
{% endblock %}

{% block title_suffix %}{% trans 'Voice Messages' %}{% endblock %}
{% block chart %}{% endblock %}
{% block charts_container %}{% endblock %}
{% block map_container %}{% endblock %}
{% block filter_container %}{% endblock %}
{% block question %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block footer %}{% endblock %}

{% block messages %}
    <div id="message_translation_container">
    	<div id="status">{{status}}</div>
        {% jplayer 0 message.sound_file_url %}
        <div id="translation_container">
        <form method="post">
        	{{ form.as_p }}
            <p><input type="submit" value="{% trans 'Save' %}"/></p>
        </form>
        <p><a href="{% url messages_admin %}">{% trans 'Go Back' %}</a></p>
        </div>
    </div>
{% endblock %}
