/* UNICEF RapidSMS UI
 * vim:set noet:
 * --
 * questions.css
 * --
 * This stylesheet contains the customizations just
 * for the "Questions" app, to display the sections,
 * questions, answers, and graphs in a more contextual
 * way that the global stylesheets allow */


#inner table {
	width: 100%;
}

	#inner td,
	#inner th {
		width: 1%;
		white-space: nowrap;
	}
	
		#inner div.questions th.question,
		#inner div.questions td.question {
			white-space: normal;
			line-height: 1.4;
			width: auto;
		}
		
		#inner div.answers th.normalized,
		#inner div.answers td.normalized {
			width: auto; }
		
		#inner div.submissions th.answers,
		#inner div.submissions td.answers {
			width: auto;
		}


/* for each submission, the normalized answers
 * are displayed in an unordered list. seriously
 * rejig the css here, to look (almost) the same,
 * but with the [Q1] part filling the height of
 * the cell, and the normalized answer(s) following */
#inner div.submissions td.answers {
	padding-bottom: 0;
	padding-top: 0;
}

	#inner div.submissions td.answers ul {
		padding: 0;
		margin: 0;
	}

		#inner div.submissions td.answers li {
			display: block;
			margin-right: 1em;
			line-height: 2em;
			float: left;
		}
	
			#inner div.submissions td.answers span {
				display: block;
				float: left;
				padding: 0 0.25em;
				background: #f8f8f8;
				margin-right: 0.5em;
				color: #aaa;
			}


/* the first column is a kind of index, so
 * separate it from the others. maybe this
 * should become a common style */
div.questions td.number,
div.questions th.number {
	border-right: 1px dotted #eee;
	padding-right: 0.5em;
	text-align: right;
}
