@charset "utf-8";
/* Arabic Style sheet */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
		direction: rtl;
		text-align: right;
}
#site_header h1 {
	float: right;
}
#top_menu {
		float:left;
		left: 0 !important;
		right: auto;
}

#top_menu ul li a {
		background-image:  url(../img/arabic/bg_sprite_ar.gif);
		background-position: 100% 0;
}

#top_menu ul li a:hover {
		background-position: 100% -55px;
}
#top_menu ul li.about a {
		background-position: -135px 0;
}
#top_menu ul li.about a:hover {
		background-position: -135px -55px;
}
#top_menu ul li.poll a {
		background-position: -10px 0;
}
#top_menu ul li.poll a:hover {
		background-position: -10px -55px;
}
#top_menu ul li a:hover, #language_menu ul li a:hover {
		text-decoration: none;
}
#top_menu ul li a span{
		text-align: right;
		padding: 15px 55px 0 0;
}
#top_menu ul li.home a span {
		padding-top: 12px;
		line-height: 1;
}
#language_menu {
		background:transparent url(../img/arabic/bg_language_right.gif) no-repeat scroll 100% 0;
}
#language_menu ul {
		float:left;
}
#language_menu ul li a {
		background-image:  url(../img/arabic/bg_sprite_ar.gif);
		background-position: 100% -110px;
}
#language_menu ul li.en a:hover {
		background-position: 100% -140px;
}
#language_menu ul li.arabic a.current_language {
		background-position: -280px -140px;
}
#site_header h1 {
	padding-left:0;
	padding-right:1em;
}
#breadcrumb_container ul {
	margin:0 10px 0 0 ;
}

#breadcrumb_container ul li {
		float:right;
}
.breadcrumbs {
		float:right;
}

.breadcrumbs li {
		background:transparent url(../img/arabic/breadcrumb_arrow_left.gif) no-repeat scroll 0 50%;
		margin-right:0;
		padding-right:0;
		margin-left:12px;
		padding-left:20px;
}
.secondary_links {
		float:left;
}
.secondary_links li a, .secondary_links li.download a, .secondary_links li.print a {
		padding-left:0;
		padding-right:22px;
		background-position: 100% 50%;
}
.secondary_links li.download a {
		margin-right:0;
}
.secondary_links li.print a {
		margin-right:24px;
}
.question_section h2, .question_section ol {
		margin-left:0;
		margin-right:10px;
}
.choice {
		margin-left: 10px;
		margin-right: 10px;	
}
.question_section .total_responses {
		left:10px;
		right: auto;
}

#intro{
		background-position: right top;
}

#intro p.intro_text{
		margin-left:0;
		margin-right:300px;
}

#intro p.intro_link{
		float:left;
		padding-left:20px;
		padding-right:0;
}

#intro p.intro_link a{
		background:url("../img/arrow_left.gif") no-repeat scroll left center;
		padding-left:12px;
		padding-right:0;
}


#poll_questions ul li{
		margin-left: 20px;
		margin-right: 0;
}

#main {
		float:right;
		width:800px;
}
#sidebar {
		float:left;
}
#filter_container {
		border-left:1px solid #C4C1BC;
		border-right:0;
		float:left;
}
#map_container {
		float:right;
}
#chart_container {
		border-width: 1px 0 0 1px;
		float:right;
}
.filter_section fieldset legend {
		padding: 5px 10px 5px 0;
}
.nav_questions ul.side_nav {
		text-align: right;
}

.nav_questions ul.side_nav li ol li span.li_char {
		float: right;
}

.nav_questions .note a {
		text-align:right;
		padding-left:15px;
		padding-right:0;
		background:transparent url(../img/arabic/note_arrow_left.gif) no-repeat scroll 0 75%;
}

.nav_questions .note {
		text-align:right;
	left: auto !important;
	right: 5px !important;

}

#filter_container .keys_section ul li {
		padding:7px 63px 7px 10px;
		background-position: 95% 10px;
}
.response_category .response_category_header {
		float:right;
		margin-left:0;
		margin-right:10px;
}
.response_category ul {
		float:left;
}
#language_menu ul li, #top_menu ul li, #poll_questions ul li, .response_category ul li {
		float:right;
}
#sub_sections .column {
		float: right;
}
#sub_sections .first h3, #sub_sections .first p, #sub_sections .first ul #sub_sections .first div {
		padding-right:10px;
		padding-left:0px;
}
#footer .unicef_logo {
		text-align:left;
}

.response_category ul li,
.response_category ul li span {
		background-image:  url(../img/arabic/bg_sprite_ar.gif);
}
.response_category ul li {
		background-position: 100% -170px;
		margin-left: 5px;
		margin-right: 0;
}
.response_category ul li  {
		padding-left: 0;
		
}
.response_category ul li span {
		background-position: 0 -170px;
		padding-right: 15px;
}

.filter_section {
		height:340px;
}

/* Messages */
#content_area #message_container,
#message_container .child_details {
	float: right;
}
#message_container .child_details{
	margin-left: 10px;
	margin-right: 0;
}
#message_container .child_details,
#message_container .child_details p {
	text-align: left;
}
#message_container .message_details {

	background:transparent url(../img/arabic/msg_arrow_right.gif) no-repeat scroll 100% 50%;
	float: right;
	padding-right:15px;
	padding-left: 0;

}
/* Map layers */
#map_layer_overlay {
	left: auto;
	right: 0;
	border-radius-bottomright: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-radius-bottomright: 0;
	border-radius-bottomleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius-bottomleft: 5px;
	-box-shadow:-3px 3px 6px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:-3px 3px 6pxrgba(0, 0, 0, 0.8);
	-webkit-box-shadow:-3px 3px 6px rgba(0, 0, 0, 0.8);
}
#map_layer_overlay legend span {
	display: block;
	padding-left: 0;
	margin-left: 0;
	padding-right: 5px;
	margin-right: 5px;
	background-position: 100% 50%;
}
.map_layer legend a {
	background-position: 0 1px;
	padding-right: 0;
	padding-left: 45px;
	text-shadow: -1px 1px 1px #000;
	-moz-text-shadow: -1px 1px 1px #000;
	-webkit-text-shadow: -1px 1px 1px #000;
}

.map_layer legend a.collapse {
	background-position: 0 -22px;
}

/* messages */

#translation_container,
#translation_container p,
#translation_container p label,
#translation_container p textarea {
	float: right !important;
}

.jp-single-player, .jp-playlist-player,
.jp-volume-bar, .jp-load-bar{
 	direction: ltr !important;
 	float: right !important;
}

/* MDG legends */

#map_legend_trigger, #mdg_legends {
	right: -2px;
	left: auto;
	-moz-border-radius-topright: 0;
	-webkit-border-radius-topright: 0;
	border-radius-topright: 0;
	-moz-border-radius-topleft: 5px;
	-webkit-border-radius-topleft: 5px;
	border-radius-topleft: 5px;
	-moz-box-shadow: -1px -1px 2px rgba(255, 200, 0, 0.7);
	-webkit-box-shadow: -1px -1px 2px rgba(255, 200, 0, 0.7);
	box-shadow: -1px -1px 2px rgba(255, 200, 0, 0.7);
	z-index:2000;
}
#mdg_legends li {
	float:right;
}
#map_legend_trigger {
	right: -3px;
	left: auto;
}
#map_legend_trigger a {
	padding-left: 0;
	padding-right: 5px;
}
#map_legend_close {
	left: 3px;
	right: auto;
}

#mdg_legends .legend_color, #mdg_legends .legend_text {
	float: right;
}