body { 
      background-color: white;
 }

#left { 
        width : 40px;
        margin-left: 5px;
 }

#map { 
          width:650px; 
          height:375px;
}

a.badge {
  display: inline;
  padding: 4px;
  font-size: 10px;
  line-height: 12px; /* total height 20px */
  background: url('/site_media/img/badge.png') repeat-x #eee;
  border: 1px solid #d0d0d0;
}
