#top_menu {
	top: -5px;
}
#sidebar  {
	display: inline;
	margin: 0 8px;
}
#map_container {
	width: 595px;
	overflow: hidden;
}
#message_container {
	width:575px;
}
#sidebar .nav_questions {
	padding: 2px 2px 6.5em;
}
.nav_questions .note {
	bottom: 3px;
	left: 5px;
}
.response_category .response_category_header,
#breadcrumb_container ul  {	
	display: inline;
}
.nav_questions ul.side_nav li.active a {
	width: 139px;
}
#map_layer_overlay {
	width: 260px;
}
#map_layer_overlay legend{
	
	margin: 0;
}

/* Button */
.main_button input {
	background-image: none;
	border: 1px solid #C30;
}
