#content_area {
	background: #eeeae2;
}
#message_container {
	float: left;
	width: 780px;
	padding: 1%;
}
#message_container ul li {
	overflow: hidden;
	margin-bottom:10px;
}
.child_details {
	float: left;
	width: 250px;
	margin-right: 10px;
	text-align: right;
}
.message_details {
	background:transparent url(../img/msg_arrow.gif) no-repeat scroll 0 50%;
	float:left;
	padding-left: 15px;
	width: 500px;
}
.message_details .message {
	padding: 10px;
	background: #faf9f8;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

.message_details .audio {
	padding: 10px;
	text-align: right;
}
.child_details p {
	font-weight: bold;
}
.child_details .name {
	color: #404040;
	text-transform: capitalize;
}
.child_details .age {
	color: #f3653a;
	text-transform: uppercase;
}
.child_details .region {
	color: #bfb9a9;
	text-transform: uppercase;
}

.jp-single-player, .jp-playlist-player {
     float: left;
     font-size:1.25em;
     font-family:Verdana, Arial, sans-serif;
     line-height:1.6;
     color: #666;
 }
.jp-interface {
     position: relative;
     background-color:#eee;
     width: 475px;
     height:75px;
}
.jp-single-player .jp-interface {
                                  border-bottom:none;
                                  }
.jp-playlist-player .jp-interface {
                                    }

.jp-interface  ul.jp-controls {
                                list-style-type:none;
                                padding:0;
                                margin: 0;
                                }
.jp-interface  ul.jp-controls li {
                                   overflow:hidden;
                                   text-indent:-9999px;
                                   }
li.jp-play,
li.jp-pause {
              display: block;
              position: absolute;
              top:20px;
              width:40px;
              height:40px;
              cursor: pointer;
              }
.jp-single-player li.jp-play,
.jp-single-player li.jp-pause {
                                left:15px;
                                }
.jp-playlist-player li.jp-play,
.jp-playlist-player li.jp-pause {
                                  left:25px;
                                  }
li.jp-play {
             background: url("jplayer.blue.monday.jpg") 0 0 no-repeat;
             }
li.jp-play:hover {
                   background: url("jplayer.blue.monday.jpg") -41px 0 no-repeat;
                   }
li.jp-pause {
              background: url("jplayer.blue.monday.jpg") 0 -42px no-repeat;
              }
li.jp-pause:hover {
                    background: url("jplayer.blue.monday.jpg") -41px -42px no-repeat;
                    }
li.jp-stop {
             position: absolute;
             top:26px;
             background: url("jplayer.blue.monday.jpg") 0 -83px no-repeat;
             width:28px;
             height:28px;
             cursor: pointer;
             }
.jp-single-player li.jp-stop {
                               left:65px;
                               }
.jp-playlist-player li.jp-stop {
                                 left:75px;
                                 }
li.jp-stop:hover {
                   background: url("jplayer.blue.monday.jpg") -29px -83px no-repeat;
                   }
li.jp-previous {
                 position: absolute;
                 left:20px;
                 top:26px;
                 background: url("jplayer.blue.monday.jpg") 0 -112px no-repeat;
                 width:28px;
                 height:28px;
                 cursor: pointer;
                 }
li.jp-previous:hover {
                       background: url("jplayer.blue.monday.jpg") -29px -112px no-repeat;
                       }
li.jp-next {
             position: absolute;
             left:88px;
             top:26px;
             background: url("jplayer.blue.monday.jpg") 0 -141px no-repeat;
             width:28px;
             height:28px;
             cursor: pointer;
             }
li.jp-next:hover {
                   background: url("jplayer.blue.monday.jpg") -29px -141px no-repeat;
                   }
.jp-progress {
               position: absolute;
               overflow:hidden;
               top:32px;
               background-color: #ddd;
               width: 250px;
               height:15px;
               }
.jp-single-player .jp-progress {
                                 left:105px;
                                 }
.jp-playlist-player .jp-progress {
                                   left:135px;
                                   }
.jp-load-bar {
               background: url("jplayer.blue.monday.jpg") 0 -202px repeat-x;
               width:0px;
               height:15px;
               cursor: pointer;
               }
.jp-play-bar {
               background: url("jplayer.blue.monday.jpg") 0 -218px repeat-x ;
               width:0px;
               height:15px;
               }
li.jp-volume-min {
                   position: absolute;
                   top:32px;
                   background: url("jplayer.blue.monday.jpg") 0 -170px no-repeat;
                   width:18px;
                   height:15px;
                   cursor: pointer;
                   }
.jp-single-player li.jp-volume-min {
                                     left:385px;
                                     }
.jp-playlist-player li.jp-volume-min {
                                       left:415px;
                                       }
li.jp-volume-min:hover {
                         background: url("jplayer.blue.monday.jpg") -19px -170px no-repeat;
                         }
li.jp-volume-max {
                   position: absolute;
                   top:32px;
                   background: url("jplayer.blue.monday.jpg") 0 -186px no-repeat;
                   width:18px;
                   height:15px;
                   cursor: pointer;
                   }
.jp-single-player li.jp-volume-max {
                                     left:450px;
                                     }
.jp-playlist-player li.jp-volume-max {
                                       left:480px;
                                       }
li.jp-volume-max:hover {
                         background: url("jplayer.blue.monday.jpg") -19px -186px no-repeat;
                         }

.jp-volume-bar {
                 position: absolute;
                 overflow:hidden;
                 top:37px;
                 background: url("jplayer.blue.monday.jpg") 0 -250px repeat-x;
                 width:46px;
                 height:5px;
                 cursor: pointer;
                 }
.jp-single-player .jp-volume-bar {
                                   left: 400px;
                                   }
.jp-playlist-player .jp-volume-bar {
                                     left: 430px;
                                     }
.jp-volume-bar-value {
                       background: url("jplayer.blue.monday.jpg") 0 -256px repeat-x;
                       width:0px;
                       height:5px;
                       }
.jp-play-time,
.jp-total-time {
                 position: absolute;
                 top:49px;
                 width:122px;
                 font-size:.64em;
                 font-style:oblique;
                 }
.jp-total-time {
                 text-align: right;
                 }
.jp-single-player .jp-play-time,
.jp-single-player .jp-total-time {
                                   left:130px;
                                   }
.jp-playlist-player .jp-play-time,
.jp-playlist-player .jp-total-time {
                                     left:164px;
                                     }
.jp-playlist {
               width:418px;
               }
.jp-playlist ul{
                 list-style-type:none;
                 margin:0 0 10px 0;
                 background-color:#ccc;
                 border:1px solid #009be3;
                 border-top:none;
                 width:378px;
                 font-size:.72em;
                 }
.jp-single-player .jp-playlist ul {
                                    padding:5px 20px 5px 20px;
                                    }
.jp-playlist-player .jp-playlist ul {
                                      padding:10px 20px 20px 20px;
                                      }
.jp-single-player .jp-playlist li{
                                   padding:0 0 0 20px;
                                   font-weight:bold;
                                   }
.jp-playlist-player .jp-playlist li{
                                     padding:4px 0 4px 20px;
                                     border-bottom:1px solid #eee;
                                     cursor: pointer;
                                     }
.jp-playlist-player .jp-playlist li.jplayer_playlist_current {
           color:#0d88c1;
           list-style-type:square;
           list-style-position:inside;
           padding-left:6px;
           cursor: default;
           }
.jp-playlist-player .jp-playlist li:hover {
                                            color:#0d88c1;
                                            }

#message_translation_container {
		padding: 10px;
}

#translation_container,
#translation_container p,
#translation_container p label,
#translation_container p textarea {
	float: left;
	clear: both;
}





