{% if kenya_reports %}
<h2>Kenya Survey Data</h2>
<table width="100%"> 
    <thead>
        <tr>
            <th>Site #</th>
            <th>Participant Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Sex Last 24 hr</th>
            <th>Condoms Last 24 hr</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for report in kenya_reports %}
            <tr>
                <td>{{report.reporter.location.code}}</td>
                <td><a href="/iavi/participants/{{report.reporter.pk}}/">{{report.reporter.study_id}}</a></td>
                <td>{{report.started|date:"d-M-Y"}}</td>
                <td>{{report.started|date:"Hi"}}</td>
                <td>{{report.sex_past_day}}</td>
                <td>{{report.condoms_past_day}}</td>
                <td>{{report.get_status_display}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}