{% extends base_template %}
{% block title %}Decision Trees{% endblock %}
{% block page_stylesheets %}<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/tree.css" />{% endblock %}
{% block content %}
{% load tree-tags %}

<div class="module">
	{% if t %}
	<h2>All Data for Tree: {{ t.trigger }}</h2>
	<table>
		{% if sessions and not loops %}
		<thead>
			<tr>
				<th scope="col">Person</th>
				<th scope="col">Start Date</th>
				{% for state in states %}
				<th scope="col">{{state.question.text}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		    {% for session in sessions %}
			<tr>
                <th scope="row">{{ session.person.phone }}</th>
				<td>{{ session.start_date }}</td>
				{% for state in states %}
                <td>
                    {% for entry in session.entry_set.all %}
                        {% ifequal entry.transition.current_state state %}
                        {{entry.transition.answer}}
                        {% endifequal %} 
                    {% endfor %}
                </td>
                {% endfor %}
			</tr>
			{% endfor %}
        </tbody>
        {% else %}
		
        {% if sessions and paths and loops %}
        <thead>
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Start Date</th>
                {% for path in paths.keys %}
                
                <th scope="col">{{ path }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        
   			{% for session in sessions %}
            <tr>
                <th scope="row">{{ session.person.phone }}</th>
                <td>{{ session.start_date }}</td>
                {% for path, map in paths.items %}
                <td>
                    <!--  this is really ugly but it works.  does a lot of unneccessary iteration 
                           because django templates don't seem to support an easy way to do this correctly. -->
                    {% for map_session, value in map.items %}
                        {% ifequal session map_session %}
                            {{ value }}
                        {% endifequal %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
         </tbody>
        {% else %}
         
        
		
        	<thead>
			<tr class="no-data">
				<td colspan="2">
					No Data Yet.
				</td>
			</tr>
			</thead>
	   {% endif %}
       
        
		<tfoot>
		    {% if sessions %}
			<tr>
				<td colspan="2">
					<a href="export/{{t.id}}">
						Export to Excel
					</a>
				</td>
			</tr>
			{% endif %}
		</tfoot>
		{% endif %}
	</table>
	{% endif %}
</div>

<div class="module dt">
	<h2>Edit a Decision Tree</h2>
	{% if t and not loops %}{% render_state t.root_state %}
	{% else %} 
	  Sorry this tree has loops.  This is not yet supported!
	{% endif %}
	
</div>

{% endblock %}
