{% extends base_template %}
{% block title %}Decision Trees{% endblock %}
{% block page_stylesheets %}<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/tree.css" />{% endblock %}
{% block content %}
{% load tree-tags %}

<div class="module">
	<h2>All Decision Trees</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Trigger</th>
				<th scope="col">First Question</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>{% if trees %}{% for tree in trees %}
			<tr>
                <th scope="row">{{ tree.trigger }}</th>
				<td>{{ tree.root_state.question}}</td>
				<td><a href="tree/data/{{tree.id}}">view data</a></td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="2">
					No Trees Yet.
					<a href="" class="add">
						Add a Tree
					</a>
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<a href="">
						Export to Excel
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="module dt">
	<h2>Edit a Decision Tree</h2>
	{% if t %}{% render_state t.root_state %}{% endif %}
</div>

<!--<div class="module">
	<h2>Add a Decision Tree</h2>
	<form method="post" action="/">
		<label for="dt-add-trigger">Trigger</label>
		<input id="dt-add-trigger" type="text" name="trigger" />
	</form>
</div>-->
{% endblock %}
