{% load tree-tags %}
<table>
    <tr class="state">
        <td{% if state.transition_set.count %} colspan="{{ state.transition_set.count }}"{% endif %}>
            <div>{{ state.question.text }}</div>
        </td>
    </tr>{% if state.transition_set.count %}
    <tr class="transitions">{% for transition in state.transition_set.all %}
        <td>
            <div>{{ transition.answer }}</div>{% if transition.next_state %}
            {% render_state transition.next_state %}{% endif %}
        </td>{% endfor %}
    </tr>{% else %}
    <tr class="no-transitions">
        <td>
            <div>No answers yet.</div>
        </td>
    </tr>{% endif %}
</table>
