{% extends "questions/base.html" %}
{% load reporters-tags %}

{% block title %}Questions{% endblock %}

{% block content %}
<div class="module answers">
	<h2>All Answers for: <strong>{{ question.text }}</strong></h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Raw Answer</th>
				<th scope="col" class="normalized">Normalized Answer</th>
				<th scope="col">Reporter</th>
				<th scope="col">Location</th>
				<th scope="col">Date/time</th>
			</tr>
		</thead>
		<tbody>{% if answers %}{% for answer in answers %}
			<tr>
				<td>{{ answer.raw_text }}</td>
				<td class="normalized">{{ answer.normalized }}</td>{% if answer.submission.reporter %}
				<td><a href="{% url submissions-by-reporter answer.submission.reporter.pk %}" class="reporter{% if answer.submission.reporter.full_name %}">{{ answer.submission.reporter.full_name }}{% else %} unknown">Unknown{% endif %}</a></td>{% else %}
				<td><a href="{% url submissions-by-connection answer.submission.connection.pk %}" class="connection">{{ answer.submission.connection }}</a></td>{% endif %}
				<td>{{ answer.submission.location }}</td>
				<td>{{ answer.submission.submitted|last_seen }}</td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="5">
					No Answers Yet.
				</td>
			</tr>{% endif %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5">
					<a href="{% url export-question-xls section_pk=section.pk question_pk=question.pk %}">Export to Excel</a>
					<span>{{ answers|length }} Answers</span>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
{% endblock %}
